.zzf-alert {
  color: var(--primary-text);
  padding: 8px 15px;
  border-radius: var(--border-radius-small);
  font-size:14px;
  display: flex;
  &-info {
    background-color: var(--primary-deemphasized-button-background);
    &-icon{
        color: var(--primary-deemphasized-button-text);
    }
  }
  &-success {
    background-color: var(--color-success-1);
    &-icon{
      color: rgb(var(--success-6));
    }
  }
  &-warning {
    background-color: var(--color-warning-1);
    &-icon{
      color: rgb(var(--warning-6));
    }
  }
  &-error {
    background-color: var(--color-danger-1);
    &-icon{
      color: rgb(var(--danger-6));
    }
  }
  &-icon{
    margin-right: 8px;
  }
}
