@import '../../styles/_prefix.scss';

@include component-prefix('alert') {
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: var(--fgColor-default);
  display: flex;
  align-items: center;
  column-gap: 8px;
  &-success {
    background-color: var(--bgColor-success-muted);
    border-color: var(--borderColor-success-muted);
    &-icon{
      color: var(--fgColor-success);
    }
  }
  &-info {
    background-color: var(--bgColor-accent-muted);
    border-color: var(--borderColor-accent-muted);
    &-icon{
      color: var(--fgColor-accent);
    }
  }
  &-warning {
    background-color: var(--bgColor-attention-muted);
    border-color: var(--borderColor-attention-muted);
    &-icon{
      color: var(--fgColor-attention);
    }
  }
  &-error {
    background-color: var(--bgColor-danger-muted);
    border-color: var(--borderColor-danger-muted);
    &-icon{
      color: var(--fgColor-danger);
    }
  }
}
