@mixin colors-light {
  --red-1: 255,236,232;
  --red-2: 253,205,197;
  --red-3: 251,172,163;
  --red-4: 249,137,129;
  --red-5: 247,101,96;
  --red-6: 245,63,63;
  --red-7: 203,39,45;
  --red-8: 161,21,30;
  --red-9: 119,8,19;
  --red-10: 77,0,10;
  --orangered-1: 255,243,232;
  --orangered-2: 253,221,195;
  --orangered-3: 252,197,159;
  --orangered-4: 250,172,123;
  --orangered-5: 249,144,87;
  --orangered-6: 247,114,52;
  --orangered-7: 204,81,32;
  --orangered-8: 162,53,17;
  --orangered-9: 119,31,6;
  --orangered-10: 77,14,0;
  --orange-1: 255,247,232;
  --orange-2: 255,228,186;
  --orange-3: 255,207,139;
  --orange-4: 255,182,93;
  --orange-5: 255,154,46;
  --orange-6: 255,125,0;
  --orange-7: 210,95,0;
  --orange-8: 166,69,0;
  --orange-9: 121,46,0;
  --orange-10: 77,27,0;
  --gold-1: 255,252,232;
  --gold-2: 253,244,191;
  --gold-3: 252,233,150;
  --gold-4: 250,220,109;
  --gold-5: 249,204,69;
  --gold-6: 247,186,30;
  --gold-7: 204,146,19;
  --gold-8: 162,109,10;
  --gold-9: 119,75,4;
  --gold-10: 77,45,0;
  --yellow-1: 254,255,232;
  --yellow-2: 254,254,190;
  --yellow-3: 253,250,148;
  --yellow-4: 252,242,107;
  --yellow-5: 251,232,66;
  --yellow-6: 250,220,25;
  --yellow-7: 207,175,15;
  --yellow-8: 163,132,8;
  --yellow-9: 120,93,3;
  --yellow-10: 77,56,0;
  --lime-1: 252,255,232;
  --lime-2: 237,248,187;
  --lime-3: 220,241,144;
  --lime-4: 201,233,104;
  --lime-5: 181,226,65;
  --lime-6: 159,219,29;
  --lime-7: 126,183,18;
  --lime-8: 95,148,10;
  --lime-9: 67,112,4;
  --lime-10: 42,77,0;
  --green-1: 232,255,234;
  --green-2: 175,240,181;
  --green-3: 123,225,136;
  --green-4: 76,210,99;
  --green-5: 35,195,67;
  --green-6: 0,180,42;
  --green-7: 0,154,41;
  --green-8: 0,128,38;
  --green-9: 0,102,34;
  --green-10: 0,77,28;
  --cyan-1: 232,255,251;
  --cyan-2: 183,244,236;
  --cyan-3: 137,233,224;
  --cyan-4: 94,223,214;
  --cyan-5: 55,212,207;
  --cyan-6: 20,201,201;
  --cyan-7: 13,165,170;
  --cyan-8: 7,130,139;
  --cyan-9: 3,97,108;
  --cyan-10: 0,66,77;
  --blue-1: 232,247,255;
  --blue-2: 195,231,254;
  --blue-3: 159,212,253;
  --blue-4: 123,192,252;
  --blue-5: 87,169,251;
  --blue-6: 52,145,250;
  --blue-7: 32,108,207;
  --blue-8: 17,75,163;
  --blue-9: 6,48,120;
  --blue-10: 0,26,77;
  --arcoblue-1: 232,243,255;
  --arcoblue-2: 190,218,255;
  --arcoblue-3: 148,191,255;
  --arcoblue-4: 106,161,255;
  --arcoblue-5: 64,128,255;
  --arcoblue-6: 22,93,255;
  --arcoblue-7: 14,66,210;
  --arcoblue-8: 7,44,166;
  --arcoblue-9: 3,26,121;
  --arcoblue-10: 0,13,77;
  --purple-1: 245,232,255;
  --purple-2: 221,190,246;
  --purple-3: 195,150,237;
  --purple-4: 168,113,227;
  --purple-5: 141,78,218;
  --purple-6: 114,46,209;
  --purple-7: 85,29,176;
  --purple-8: 60,16,143;
  --purple-9: 39,6,110;
  --purple-10: 22,0,77;
  --pinkpurple-1: 255,232,251;
  --pinkpurple-2: 247,186,239;
  --pinkpurple-3: 240,142,230;
  --pinkpurple-4: 232,101,223;
  --pinkpurple-5: 225,62,219;
  --pinkpurple-6: 217,26,217;
  --pinkpurple-7: 176,16,182;
  --pinkpurple-8: 138,9,147;
  --pinkpurple-9: 101,3,112;
  --pinkpurple-10: 66,0,77;
  --magenta-1: 255,232,241;
  --magenta-2: 253,194,219;
  --magenta-3: 251,157,199;
  --magenta-4: 249,121,183;
  --magenta-5: 247,84,168;
  --magenta-6: 245,49,157;
  --magenta-7: 203,30,131;
  --magenta-8: 161,16,105;
  --magenta-9: 119,6,79;
  --magenta-10: 77,0,52;
  --gray-1: 247,248,250;
  --gray-2: 242,243,245;
  --gray-3: 229,230,235;
  --gray-4: 201,205,212;
  --gray-5: 169,174,184;
  --gray-6: 134,144,156;
  --gray-7: 107,119,133;
  --gray-8: 78,89,105;
  --gray-9: 39,46,59;
  --gray-10: 29,33,41;
  --success-1: var(--green-1);
  --success-2: var(--green-2);
  --success-3: var(--green-3);
  --success-4: var(--green-4);
  --success-5: var(--green-5);
  --success-6: var(--green-6);
  --success-7: var(--green-7);
  --success-8: var(--green-8);
  --success-9: var(--green-9);
  --success-10: var(--green-10);
  --primary-1: 232,243,255;
  --primary-2: var(--arcoblue-2);
  --primary-3: var(--arcoblue-3);
  --primary-4: var(--arcoblue-4);
  --primary-5: var(--arcoblue-5);
  --primary-6: var(--arcoblue-6);
  --primary-7: var(--arcoblue-7);
  --primary-8: var(--arcoblue-8);
  --primary-9: var(--arcoblue-9);
  --primary-10: var(--arcoblue-10);
  --danger-1: var(--red-1);
  --danger-2: var(--red-2);
  --danger-3: var(--red-3);
  --danger-4: var(--red-4);
  --danger-5: var(--red-5);
  --danger-6: var(--red-6);
  --danger-7: var(--red-7);
  --danger-8: var(--red-8);
  --danger-9: var(--red-9);
  --danger-10: var(--red-10);
  --warning-1: var(--orange-1);
  --warning-2: var(--orange-2);
  --warning-3: var(--orange-3);
  --warning-4: var(--orange-4);
  --warning-5: var(--orange-5);
  --warning-6: var(--orange-6);
  --warning-7: var(--orange-7);
  --warning-8: var(--orange-8);
  --warning-9: var(--orange-9);
  --warning-10: var(--orange-10);
  --link-1: var(--arcoblue-1);
  --link-2: var(--arcoblue-2);
  --link-3: var(--arcoblue-3);
  --link-4: var(--arcoblue-4);
  --link-5: var(--arcoblue-5);
  --link-6: var(--arcoblue-6);
  --link-7: var(--arcoblue-7);
  --link-8: var(--arcoblue-8);
  --link-9: var(--arcoblue-9);
  --link-10: var(--arcoblue-10);


  --color-white: #fff;
  --color-black: #000;
  --color-border: rgb(229,230,235);
  --color-bg-popup: #fff;
  --color-bg-1: #fff;
  --color-bg-2: #fff;
  --color-bg-3: #fff;
  --color-bg-4: #fff;
  --color-bg-5: #fff;
  --color-bg-white: #fff;
  --color-neutral-1: rgb(247,248,250);
  --color-neutral-2: rgb(242,243,245);
  --color-neutral-3: rgb(229,230,235);
  --color-neutral-4: rgb(var(--gray-4));
  --color-neutral-5: rgb(var(--gray-5));
  --color-neutral-6: rgb(var(--gray-6));
  --color-neutral-7: rgb(var(--gray-7));
  --color-neutral-8: rgb(var(--gray-8));
  --color-neutral-9: rgb(var(--gray-9));
  --color-neutral-10: rgb(29,33,41);
  --color-text-1: var(--color-neutral-10);
  --color-text-2: var(--color-neutral-8);
  --color-text-3: var(--color-neutral-6);
  --color-text-4: var(--color-neutral-4);
  --color-border-1: var(--color-neutral-2);
  --color-border-2: var(--color-neutral-3);
  --color-border-3: var(--color-neutral-4);
  --color-border-4: var(--color-neutral-6);
  --color-fill-1: var(--color-neutral-1);
  --color-fill-2: var(--color-neutral-2);
  --color-fill-3: var(--color-neutral-3);
  --color-fill-4: var(--color-neutral-4);
  --color-primary-1: rgb(232,243,255);
  --color-primary-2: rgb(var(--primary-2));
  --color-primary-3: rgb(var(--primary-3));
  --color-primary-4: rgb(var(--primary-4));
  --color-secondary: var(--color-neutral-2);
  --color-secondary-hover: var(--color-neutral-3);
  --color-secondary-active: var(--color-neutral-4);
  --color-secondary-disabled: var(--color-neutral-1);
  --color-danger-1: rgb(var(--danger-1));
  --color-danger-2: rgb(var(--danger-2));
  --color-danger-3: rgb(var(--danger-3));
  --color-danger-4: rgb(var(--danger-4));
  --color-success-1: rgb(var(--success-1));
  --color-success-2: rgb(var(--success-2));
  --color-success-3: rgb(var(--success-3));
  --color-success-4: rgb(var(--success-4));
  --color-warning-1: rgb(var(--warning-1));
  --color-warning-2: rgb(var(--warning-2));
  --color-warning-3: rgb(var(--warning-3));
  --color-warning-4: rgb(var(--warning-4));
  --color-link-1: rgb(var(--link-1));
  --color-link-2: rgb(var(--link-2));
  --color-link-3: rgb(var(--link-3));
  --color-link-4: rgb(var(--link-4));
  --border-radius-none: 0;
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-large: 8px;
  --border-radius-circle: 50%;
  --color-tooltip-bg: rgb(29,33,41);
  --color-spin-layer-bg: hsla(0,0%,100%,0.6);
  --color-menu-dark-bg: #232324;
  --color-menu-bg: #fff;
  --color-menu-dark-hover: hsla(0,0%,100%,0.04);
  --color-mask-bg: rgba(29,33,41,0.6);
  --color-header-bg: hsla(0,0%,100%,.8);
  --web-wash: #F0F2F5;

  --fds-black: #000000;
  --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
  --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
  --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
  --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
  --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
  --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
  --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
  --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
  --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
  --fds-blue-05: #ECF3FF;
  --fds-blue-30: #AAC9FF;
  --fds-blue-40: #77A7FF;
  --fds-blue-60: #1877F2;
  --fds-blue-70: #2851A3;
  --fds-blue-80: #1D3C78;
  --fds-button-text: #444950;
  --fds-comment-background: #F2F3F5;
  --fds-dark-mode-gray-35: #CCCCCC;
  --fds-dark-mode-gray-50: #828282;
  --fds-dark-mode-gray-70: #4A4A4A;
  --fds-dark-mode-gray-80: #373737;
  --fds-dark-mode-gray-90: #282828;
  --fds-dark-mode-gray-100: #1C1C1C;
  --fds-gray-00: #F5F6F7;
  --fds-gray-05: #F2F3F5;
  --fds-gray-10: #EBEDF0;
  --fds-gray-20: #DADDE1;
  --fds-gray-25: #CCD0D5;
  --fds-gray-30: #BEC3C9;
  --fds-gray-45: #8D949E;
  --fds-gray-70: #606770;
  --fds-gray-80: #444950;
  --fds-gray-90: #303338;
  --fds-gray-100: #1C1E21;
  --fds-green-55: #00A400;
  --fds-highlight: #3578E5;
  --fds-highlight-cell-background: #ECF3FF;
  --fds-primary-icon: #1C1E21;
  --fds-primary-text: #1C1E21;
  --fds-red-55: #FA383E;
  --fds-soft: cubic-bezier(.08,.52,.52,1);
  --fds-spectrum-aluminum-tint-70: #E4F0F6;
  --fds-spectrum-blue-gray-tint-70: #CFD1D5;
  --fds-spectrum-cherry: #F35369;
  --fds-spectrum-cherry-tint-70: #FBCCD2;
  --fds-spectrum-grape-tint-70: #DDD5F0;
  --fds-spectrum-grape-tint-90: #F4F1FA;
  --fds-spectrum-lemon-dark-1: #F5C33B;
  --fds-spectrum-lemon-tint-70: #FEF2D1;
  --fds-spectrum-lime: #A3CE71;
  --fds-spectrum-lime-tint-70: #E4F0D5;
  --fds-spectrum-orange-tint-70: #FCDEC5;
  --fds-spectrum-orange-tint-90: #FEF4EC;
  --fds-spectrum-seafoam-tint-70: #CAEEF9;
  --fds-spectrum-slate-dark-2: #89A1AC;
  --fds-spectrum-slate-tint-70: #EAEFF2;
  --fds-spectrum-teal: #6BCEBB;
  --fds-spectrum-teal-dark-1: #4DBBA6;
  --fds-spectrum-teal-dark-2: #31A38D;
  --fds-spectrum-teal-tint-70: #D2F0EA;
  --fds-spectrum-teal-tint-90: #F0FAF8;
  --fds-spectrum-tomato: #FB724B;
  --fds-spectrum-tomato-tint-30: #F38E7B;
  --fds-spectrum-tomato-tint-90: #FDEFED;
  --fds-strong: cubic-bezier(.12,.8,.32,1);
  --fds-white: #FFFFFF;
  --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
  --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
  --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
  --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
  --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
  --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
  --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
  --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
  --fds-yellow-20: #FFBA00;
  --accent: hsl(214, 89%, 52%);
  --always-white: #FFFFFF;
  --always-black: black;
  --always-dark-gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
  --always-dark-overlay: rgba(0, 0, 0, 0.4);
  --always-light-overlay: rgba(255, 255, 255, 0.4);
  --always-gray-40: #65676B;
  --always-gray-75: #BCC0C4;
  --always-gray-95: #F0F2F5;
  --attachment-footer-background: #F0F2F5;
  --background-deemphasized: #F0F2F5;
  --base-blue: #1877F2;
  --base-cherry: #F3425F;
  --base-grape: #9360F7;
  --base-lemon: #F7B928;
  --base-lime: #45BD62;
  --base-pink: #FF66BF;
  --base-seafoam: #54C7EC;
  --base-teal: #2ABBA7;
  --base-tomato: #FB724B;
  --blue-link: #216FDB;
  --card-background: #FFFFFF;
  --card-background-flat: #F7F8FA;
  --comment-background: #F0F2F5;
  --comment-footer-background: #F6F9FA;
  --dataviz-primary-1: rgb(48,200,180);
  --disabled-button-background: #E4E6EB;
  --disabled-button-text: #BCC0C4;
  --disabled-icon: #BCC0C4;
  --disabled-text: #BCC0C4;
  --divider: #CED0D4;
  --event-date: #F3425F;
  --fb-wordmark: #1877F2;
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
  --filter-always-white: invert(100%);
  --filter-disabled-icon: invert(80%) sepia(6%) saturate(200%) saturate(120%) hue-rotate(173deg) brightness(98%) contrast(89%);
  --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
  --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
  --filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%);
  --filter-blue-link-icon: invert(30%) sepia(98%) saturate(200%) saturate(200%) saturate(200%) saturate(166.5%) hue-rotate(192deg) brightness(91%) contrast(101%);
  --filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
  --filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);
  --glimmer-spinner-icon: #65676B;
  --hero-banner-background: #FFFFFF;
  --hosted-view-selected-state: rgba(45, 136, 255, 0.1);
  --highlight-bg: #E7F3FF;
  --hover-overlay: rgba(0, 0, 0, 0.05);
  --list-cell-chevron: #65676B;
  --media-hover: rgba(68, 73, 80, 0.15);
  --media-inner-border: rgba(0, 0, 0, 0.1);
  --media-outer-border: #FFFFFF;
  --media-pressed: rgba(68, 73, 80, 0.35);
  --messenger-card-background: #FFFFFF;
  --messenger-reply-background: #F0F2F5;
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --overlay-on-media: rgba(0, 0, 0, 0.6);
  --nav-bar-background: #FFFFFF;
  --nav-bar-background-gradient: linear-gradient(to top, #FFFFFF, rgba(255,255,255.9), rgba(255,255,255,.7), rgba(255,255,255,.4), rgba(255,255,255,0));
  --nav-bar-background-gradient-wash: linear-gradient(to top, #F0F2F5, rgba(240,242,245.9), rgba(240,242,245,.7), rgba(240,242,245,.4), rgba(240,242,245,0));
  --negative: hsl(350, 87%, 55%);
  --negative-background: hsl(350, 87%, 55%, 20%);
  --new-notification-background: #E7F3FF;
  --non-media-pressed: rgba(68, 73, 80, 0.15);
  --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
  --notification-badge: #e41e3f;
  --placeholder-icon: #65676B;
  --placeholder-image: rgb(164, 167, 171);
  --placeholder-text: #65676B;
  --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
  --popover-background: #FFFFFF;
  --positive: #31A24C;
  --positive-background: #DEEFE1;
  --press-overlay: rgba(0, 0, 0, 0.10);
  --primary-button-background: #1B74E4;
  --primary-button-icon: #FFFFFF;
  --primary-button-pressed: #77A7FF;
  --primary-button-text: #FFFFFF;
  --primary-deemphasized-button-background: #E7F3FF;
  --primary-deemphasized-button-pressed: rgba(0, 0, 0, 0.05);
  --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
  --primary-deemphasized-button-text: #1877F2;
  --primary-icon: #050505;
  --primary-text: #050505;
  --primary-text-on-media: #FFFFFF;
  --primary-web-focus-indicator: #D24294;
  --progress-ring-neutral-background: rgba(0, 0, 0, 0.2);
  --progress-ring-neutral-foreground: #000000;
  --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
  --progress-ring-on-media-foreground: #FFFFFF;
  --progress-ring-blue-background: rgba(24, 119, 242, 0.2);
  --progress-ring-blue-foreground: hsl(214, 89%, 52%);
  --progress-ring-disabled-background: rgba(190,195,201, 0.2);
  --progress-ring-disabled-foreground: #BEC3C9;
  --rating-star-active: #EB660D;
  --scroll-thumb: #BCC0C4;
  --scroll-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
  --secondary-button-background: #E4E6EB;
  --secondary-button-background-floating: #ffffff;
  --secondary-button-background-on-dark: rgba(0, 0, 0, 0.4);
  --secondary-button-pressed: rgba(0, 0, 0, 0.05);
  --secondary-button-stroke: transparent;
  --secondary-button-text: #050505;
  --secondary-icon: #65676B;
  --secondary-text: #65676B;
  --secondary-text-on-media: rgba(255, 255, 255, 0.9);
  --section-header-text: #4B4C4F;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-inset: rgba(255, 255, 255, 0.5);
  --shadow-elevated: 0px 5px 12px rgba(52, 72, 84, 0.2);
  --shadow-persistent: 0px 0px 12px rgba(52, 72, 84, 0.05);
  --shadow-primary: 0px 5px 12px rgba(52, 72, 84, 0.2);
  --surface-background: #FFFFFF;
  --text-highlight: rgba(24, 119, 242, 0.2);
  --toggle-active-background: #E7F3FF;
  --toggle-active-icon: rgb(24, 119, 242);
  --toggle-active-text: rgb(24, 119, 242);
  --toggle-button-active-background: #E7F3FF;
  --wash: #E4E6EB;
  --web-wash: #F0F2F5;
  --warning: hsl(40, 89%, 52%);
  --fb-logo-color: #2D88FF;
  --dialog-anchor-vertical-padding: 56px;
  --header-height: 56px;
  --global-panel-width: 60px;
  --global-panel-width-expanded: 300px;
  --alert-banner-corner-radius: 8px;
  --button-corner-radius: 6px;
  --button-corner-radius-medium: 10px;
  --button-corner-radius-large: 12px;
  --button-height-medium: 36px;
  --button-height-large: 40px;
  --blueprint-button-height-medium: 40px;
  --blueprint-button-height-large: 48px;
  --card-corner-radius: 8px;
  --card-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  --card-padding-vertical: 20px;
  --chip-corner-radius: 6px;
  --dialog-corner-radius: 8px;
  --glimmer-corner-radius: 8px;
  --input-corner-radius: 4px;
  --nav-list-cell-corner-radius: 8px;
  --list-cell-corner-radius: 8px;
  --list-cell-min-height: 52px;
  --list-cell-padding-vertical: 20px;
  --list-cell-padding-vertical-with-addon: 14px;
  --toast-corner-radius: 4px;
  --fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
  --fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
  --fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
  --fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
  --fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
  --fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
  --fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
  --fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
  --fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
  --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
  --fds-duration-extra-extra-short-in: 100ms;
  --fds-duration-extra-extra-short-out: 100ms;
  --fds-duration-extra-short-in: 200ms;
  --fds-duration-extra-short-out: 150ms;
  --fds-duration-short-in: 280ms;
  --fds-duration-short-out: 200ms;
  --fds-duration-medium-in: 400ms;
  --fds-duration-medium-out: 350ms;
  --fds-duration-long-in: 500ms;
  --fds-duration-long-out: 350ms;
  --fds-duration-extra-long-in: 1000ms;
  --fds-duration-extra-long-out: 1000ms;
  --fds-duration-none: 0ms;
  --fds-fast: 200ms;
  --fds-slow: 400ms;
  --font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  --font-family-code: ui-monospace, Menlo, Consolas, Monaco, monospace;
  --font-family-default: Helvetica, Arial, sans-serif;
  --font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  --dataviz-primary-2: rgb(134,218,255);
  --dataviz-primary-3: rgb(95,170,255);
  --dataviz-secondary-1: rgb(118,62,230);
  --dataviz-secondary-2: rgb(147,96,247);
  --dataviz-secondary-3: rgb(219,26,139);
  --dataviz-supplementary-1: rgb(255,122,105);
  --dataviz-supplementary-2: rgb(241,168,23);
  --dataviz-supplementary-3: rgb(49,162,76);
  --dataviz-supplementary-4: rgb(50,52,54);
}
