/*@import url(tokens.css);*/
@import url(typography.module.css);
@import url(theme.light.css);
@import url(theme.dark.css);
@import "var.css";
/*:where(html) {*/
/*  --md-sys-color-surface-1: rgb(var(--md-sys-color-primary-rgb) / 0.05);*/
/*  --md-sys-color-surface-2: rgb(var(--md-sys-color-primary-rgb) / 0.08);*/
/*  --md-sys-color-surface-3: rgb(var(--md-sys-color-primary-rgb) / 0.11);*/
/*  --md-sys-color-surface-4: rgb(var(--md-sys-color-primary-rgb) / 0.12);*/
/*  --md-sys-color-surface-5: rgb(var(--md-sys-color-primary-rgb) / 0.14);*/

/*  --md-sys-elevation-0: 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.2),*/
/*    0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),*/
/*    0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);*/
/*  --md-sys-elevation-1: 0px 3px 1px -2px rgb(var(--md-sys-color-shadow-rgb) / 0.2),*/
/*    0px 2px 2px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),*/
/*    0px 1px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);*/
/*  --md-sys-elevation-2: 0px 2px 4px -1px rgb(var(--md-sys-color-shadow-rgb) / 0.2),*/
/*    0px 4px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),*/
/*    0px 1px 10px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);*/
/*  --md-sys-elevation-3: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow-rgb) / 0.2),*/
/*    0px 8px 10px 1px rgb(var(--md-sys-color-shadow-rgb) / 0.14),*/
/*    0px 3px 14px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.12);*/
/*  --md-sys-elevation-4: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow-rgb) / 0.2),*/
/*    0px 8px 10px 1px rgb(var(--md-sys-color-shadow-rgb) / 0.14),*/
/*    0px 3px 14px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.12);*/
/*  --md-sys-elevation-5: 0px 8px 10px -6px rgb(var(--md-sys-color-shadow-rgb) / 0.2),*/
/*    0px 16px 24px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.14),*/
/*    0px 6px 30px 5px rgb(var(--md-sys-color-shadow-rgb) / 0.12);*/
/*}*/
