:where(html) {
  --md-sys-color-primary: #4750c8;
  --md-sys-color-primary-rgb: 71 80 200;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-on-primary-rgb: 255 255 255;
  --md-sys-color-primary-container: #e0e0ff;
  --md-sys-color-primary-container-rgb: 224 224 255;
  --md-sys-color-on-primary-container: #00036b;
  --md-sys-color-on-primary-container-rgb: 0 3 107;
  --md-sys-color-secondary: #5c5d72;
  --md-sys-color-secondary-rgb: 92 93 114;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-on-secondary-rgb: 255 255 255;
  --md-sys-color-secondary-container: #e1e0f9;
  --md-sys-color-secondary-container-rgb: 225 224 249;
  --md-sys-color-on-secondary-container: #191a2c;
  --md-sys-color-on-secondary-container-rgb: 25 26 44;
  --md-sys-color-tertiary: #78536b;
  --md-sys-color-tertiary-rgb: 120 83 107;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-on-tertiary-rgb: 255 255 255;
  --md-sys-color-tertiary-container: #ffd8ee;
  --md-sys-color-tertiary-container-rgb: 255 216 238;
  --md-sys-color-on-tertiary-container: #2e1126;
  --md-sys-color-on-tertiary-container-rgb: 46 17 38;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-rgb: 186 26 26;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-error-container-rgb: 255 218 214;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-on-error-rgb: 255 255 255;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-on-error-container-rgb: 65 0 2;
  --md-sys-color-background: #fffbff;
  --md-sys-color-background-rgb: 255 251 255;
  --md-sys-color-on-background: #1b1b1f;
  --md-sys-color-on-background-rgb: 27 27 31;
  --md-sys-color-surface: #fffbff;
  --md-sys-color-surface-rgb: 255 251 255;
  --md-sys-color-on-surface: #1b1b1f;
  --md-sys-color-on-surface-rgb: 27 27 31;
  --md-sys-color-surface-variant: #e3e1ec;
  --md-sys-color-surface-variant-rgb: 227 225 236;
  --md-sys-color-on-surface-variant: #46464f;
  --md-sys-color-on-surface-variant-rgb: 70 70 79;
  --md-sys-color-outline: #777680;
  --md-sys-color-outline-rgb: 119 118 128;
  --md-sys-color-inverse-on-surface: #f3eff4;
  --md-sys-color-inverse-on-surface-rgb: 243 239 244;
  --md-sys-color-inverse-surface: #303034;
  --md-sys-color-inverse-surface-rgb: 48 48 52;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-inverse-primary-rgb: 190 194 255;
  --md-sys-color-shadow: #000000;
  --md-sys-color-shadow-rgb: 0 0 0;
  --md-sys-color-surface-tint: #4750c8;
  --md-sys-color-surface-tint-rgb: 71 80 200;
  --md-sys-color-outline-variant: #c7c5d0;
  --md-sys-color-outline-variant-rgb: 199 197 208;
  --md-sys-color-scrim: #000000;
  --md-sys-color-scrim-rgb: 0 0 0;
  --md-sys-color-primary-light: #4750c8;
  --md-sys-color-primary-light-rgb: 71 80 200;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-on-primary-light-rgb: 255 255 255;
  --md-sys-color-primary-container-light: #e0e0ff;
  --md-sys-color-primary-container-light-rgb: 224 224 255;
  --md-sys-color-on-primary-container-light: #00036b;
  --md-sys-color-on-primary-container-light-rgb: 0 3 107;
  --md-sys-color-secondary-light: #5c5d72;
  --md-sys-color-secondary-light-rgb: 92 93 114;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-on-secondary-light-rgb: 255 255 255;
  --md-sys-color-secondary-container-light: #e1e0f9;
  --md-sys-color-secondary-container-light-rgb: 225 224 249;
  --md-sys-color-on-secondary-container-light: #191a2c;
  --md-sys-color-on-secondary-container-light-rgb: 25 26 44;
  --md-sys-color-tertiary-light: #78536b;
  --md-sys-color-tertiary-light-rgb: 120 83 107;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-on-tertiary-light-rgb: 255 255 255;
  --md-sys-color-tertiary-container-light: #ffd8ee;
  --md-sys-color-tertiary-container-light-rgb: 255 216 238;
  --md-sys-color-on-tertiary-container-light: #2e1126;
  --md-sys-color-on-tertiary-container-light-rgb: 46 17 38;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-light-rgb: 186 26 26;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-error-container-light-rgb: 255 218 214;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-light-rgb: 255 255 255;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-on-error-container-light-rgb: 65 0 2;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-background-light-rgb: 255 251 255;
  --md-sys-color-on-background-light: #1b1b1f;
  --md-sys-color-on-background-light-rgb: 27 27 31;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-surface-light-rgb: 255 251 255;
  --md-sys-color-on-surface-light: #1b1b1f;
  --md-sys-color-on-surface-light-rgb: 27 27 31;
  --md-sys-color-surface-variant-light: #e3e1ec;
  --md-sys-color-surface-variant-light-rgb: 227 225 236;
  --md-sys-color-on-surface-variant-light: #46464f;
  --md-sys-color-on-surface-variant-light-rgb: 70 70 79;
  --md-sys-color-outline-light: #777680;
  --md-sys-color-outline-light-rgb: 119 118 128;
  --md-sys-color-inverse-on-surface-light: #f3eff4;
  --md-sys-color-inverse-on-surface-light-rgb: 243 239 244;
  --md-sys-color-inverse-surface-light: #303034;
  --md-sys-color-inverse-surface-light-rgb: 48 48 52;
  --md-sys-color-inverse-primary-light: #bec2ff;
  --md-sys-color-inverse-primary-light-rgb: 190 194 255;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-shadow-light-rgb: 0 0 0;
  --md-sys-color-surface-tint-light: #4750c8;
  --md-sys-color-surface-tint-light-rgb: 71 80 200;
  --md-sys-color-outline-variant-light: #c7c5d0;
  --md-sys-color-outline-variant-light-rgb: 199 197 208;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-scrim-light-rgb: 0 0 0;
  --md-sys-color-primary-dark: #bec2ff;
  --md-sys-color-primary-dark-rgb: 190 194 255;
  --md-sys-color-on-primary-dark: #0e169a;
  --md-sys-color-on-primary-dark-rgb: 14 22 154;
  --md-sys-color-primary-container-dark: #2d36af;
  --md-sys-color-primary-container-dark-rgb: 45 54 175;
  --md-sys-color-on-primary-container-dark: #e0e0ff;
  --md-sys-color-on-primary-container-dark-rgb: 224 224 255;
  --md-sys-color-secondary-dark: #c5c4dd;
  --md-sys-color-secondary-dark-rgb: 197 196 221;
  --md-sys-color-on-secondary-dark: #2e2f42;
  --md-sys-color-on-secondary-dark-rgb: 46 47 66;
  --md-sys-color-secondary-container-dark: #444559;
  --md-sys-color-secondary-container-dark-rgb: 68 69 89;
  --md-sys-color-on-secondary-container-dark: #e1e0f9;
  --md-sys-color-on-secondary-container-dark-rgb: 225 224 249;
  --md-sys-color-tertiary-dark: #e7b9d5;
  --md-sys-color-tertiary-dark-rgb: 231 185 213;
  --md-sys-color-on-tertiary-dark: #45263c;
  --md-sys-color-on-tertiary-dark-rgb: 69 38 60;
  --md-sys-color-tertiary-container-dark: #5e3c53;
  --md-sys-color-tertiary-container-dark-rgb: 94 60 83;
  --md-sys-color-on-tertiary-container-dark: #ffd8ee;
  --md-sys-color-on-tertiary-container-dark-rgb: 255 216 238;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-dark-rgb: 255 180 171;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-error-container-dark-rgb: 147 0 10;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-dark-rgb: 105 0 5;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-on-error-container-dark-rgb: 255 218 214;
  --md-sys-color-background-dark: #1b1b1f;
  --md-sys-color-background-dark-rgb: 27 27 31;
  --md-sys-color-on-background-dark: #e5e1e6;
  --md-sys-color-on-background-dark-rgb: 229 225 230;
  --md-sys-color-surface-dark: #1b1b1f;
  --md-sys-color-surface-dark-rgb: 27 27 31;
  --md-sys-color-on-surface-dark: #e5e1e6;
  --md-sys-color-on-surface-dark-rgb: 229 225 230;
  --md-sys-color-surface-variant-dark: #46464f;
  --md-sys-color-surface-variant-dark-rgb: 70 70 79;
  --md-sys-color-on-surface-variant-dark: #c7c5d0;
  --md-sys-color-on-surface-variant-dark-rgb: 199 197 208;
  --md-sys-color-outline-dark: #91909a;
  --md-sys-color-outline-dark-rgb: 145 144 154;
  --md-sys-color-inverse-on-surface-dark: #1b1b1f;
  --md-sys-color-inverse-on-surface-dark-rgb: 27 27 31;
  --md-sys-color-inverse-surface-dark: #e5e1e6;
  --md-sys-color-inverse-surface-dark-rgb: 229 225 230;
  --md-sys-color-inverse-primary-dark: #4750c8;
  --md-sys-color-inverse-primary-dark-rgb: 71 80 200;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-shadow-dark-rgb: 0 0 0;
  --md-sys-color-surface-tint-dark: #bec2ff;
  --md-sys-color-surface-tint-dark-rgb: 190 194 255;
  --md-sys-color-outline-variant-dark: #46464f;
  --md-sys-color-outline-variant-dark-rgb: 70 70 79;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-scrim-dark-rgb: 0 0 0;
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary10: #00036b;
  --md-ref-palette-primary10-rgb: 0 3 107;
  --md-ref-palette-primary20: #0e169a;
  --md-ref-palette-primary20-rgb: 14 22 154;
  --md-ref-palette-primary25: #1f27a4;
  --md-ref-palette-primary25-rgb: 31 39 164;
  --md-ref-palette-primary30: #2d36af;
  --md-ref-palette-primary30-rgb: 45 54 175;
  --md-ref-palette-primary35: #3a43bb;
  --md-ref-palette-primary35-rgb: 58 67 187;
  --md-ref-palette-primary40: #4750c8;
  --md-ref-palette-primary40-rgb: 71 80 200;
  --md-ref-palette-primary50: #616ae2;
  --md-ref-palette-primary50-rgb: 97 106 226;
  --md-ref-palette-primary60: #7b85fe;
  --md-ref-palette-primary60-rgb: 123 133 254;
  --md-ref-palette-primary70: #9ca4ff;
  --md-ref-palette-primary70-rgb: 156 164 255;
  --md-ref-palette-primary80: #bec2ff;
  --md-ref-palette-primary80-rgb: 190 194 255;
  --md-ref-palette-primary90: #e0e0ff;
  --md-ref-palette-primary90-rgb: 224 224 255;
  --md-ref-palette-primary95: #f1efff;
  --md-ref-palette-primary95-rgb: 241 239 255;
  --md-ref-palette-primary98: #fbf8ff;
  --md-ref-palette-primary98-rgb: 251 248 255;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary99-rgb: 255 251 255;
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary100-rgb: 255 255 255;
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary10: #191a2c;
  --md-ref-palette-secondary10-rgb: 25 26 44;
  --md-ref-palette-secondary20: #2e2f42;
  --md-ref-palette-secondary20-rgb: 46 47 66;
  --md-ref-palette-secondary25: #393a4d;
  --md-ref-palette-secondary25-rgb: 57 58 77;
  --md-ref-palette-secondary30: #444559;
  --md-ref-palette-secondary30-rgb: 68 69 89;
  --md-ref-palette-secondary35: #505165;
  --md-ref-palette-secondary35-rgb: 80 81 101;
  --md-ref-palette-secondary40: #5c5d72;
  --md-ref-palette-secondary40-rgb: 92 93 114;
  --md-ref-palette-secondary50: #75758b;
  --md-ref-palette-secondary50-rgb: 117 117 139;
  --md-ref-palette-secondary60: #8f8fa6;
  --md-ref-palette-secondary60-rgb: 143 143 166;
  --md-ref-palette-secondary70: #a9a9c1;
  --md-ref-palette-secondary70-rgb: 169 169 193;
  --md-ref-palette-secondary80: #c5c4dd;
  --md-ref-palette-secondary80-rgb: 197 196 221;
  --md-ref-palette-secondary90: #e1e0f9;
  --md-ref-palette-secondary90-rgb: 225 224 249;
  --md-ref-palette-secondary95: #f1efff;
  --md-ref-palette-secondary95-rgb: 241 239 255;
  --md-ref-palette-secondary98: #fbf8ff;
  --md-ref-palette-secondary98-rgb: 251 248 255;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary99-rgb: 255 251 255;
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary10: #2e1126;
  --md-ref-palette-tertiary10-rgb: 46 17 38;
  --md-ref-palette-tertiary20: #45263c;
  --md-ref-palette-tertiary20-rgb: 69 38 60;
  --md-ref-palette-tertiary25: #523147;
  --md-ref-palette-tertiary25-rgb: 82 49 71;
  --md-ref-palette-tertiary30: #5e3c53;
  --md-ref-palette-tertiary30-rgb: 94 60 83;
  --md-ref-palette-tertiary35: #6b475f;
  --md-ref-palette-tertiary35-rgb: 107 71 95;
  --md-ref-palette-tertiary40: #78536b;
  --md-ref-palette-tertiary40-rgb: 120 83 107;
  --md-ref-palette-tertiary50: #936b84;
  --md-ref-palette-tertiary50-rgb: 147 107 132;
  --md-ref-palette-tertiary60: #ae849e;
  --md-ref-palette-tertiary60-rgb: 174 132 158;
  --md-ref-palette-tertiary70: #ca9eb9;
  --md-ref-palette-tertiary70-rgb: 202 158 185;
  --md-ref-palette-tertiary80: #e7b9d5;
  --md-ref-palette-tertiary80-rgb: 231 185 213;
  --md-ref-palette-tertiary90: #ffd8ee;
  --md-ref-palette-tertiary90-rgb: 255 216 238;
  --md-ref-palette-tertiary95: #ffecf5;
  --md-ref-palette-tertiary95-rgb: 255 236 245;
  --md-ref-palette-tertiary98: #fff8f9;
  --md-ref-palette-tertiary98-rgb: 255 248 249;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary99-rgb: 255 251 255;
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral10-rgb: 27 27 31;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral20-rgb: 48 48 52;
  --md-ref-palette-neutral25: #3c3b3f;
  --md-ref-palette-neutral25-rgb: 60 59 63;
  --md-ref-palette-neutral30: #47464a;
  --md-ref-palette-neutral30-rgb: 71 70 74;
  --md-ref-palette-neutral35: #535256;
  --md-ref-palette-neutral35-rgb: 83 82 86;
  --md-ref-palette-neutral40: #5f5e62;
  --md-ref-palette-neutral40-rgb: 95 94 98;
  --md-ref-palette-neutral50: #78767a;
  --md-ref-palette-neutral50-rgb: 120 118 122;
  --md-ref-palette-neutral60: #929094;
  --md-ref-palette-neutral60-rgb: 146 144 148;
  --md-ref-palette-neutral70: #adaaaf;
  --md-ref-palette-neutral70-rgb: 173 170 175;
  --md-ref-palette-neutral80: #c8c5ca;
  --md-ref-palette-neutral80-rgb: 200 197 202;
  --md-ref-palette-neutral90: #e5e1e6;
  --md-ref-palette-neutral90-rgb: 229 225 230;
  --md-ref-palette-neutral95: #f3eff4;
  --md-ref-palette-neutral95-rgb: 243 239 244;
  --md-ref-palette-neutral98: #fcf8fd;
  --md-ref-palette-neutral98-rgb: 252 248 253;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral99-rgb: 255 251 255;
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant10: #1b1b23;
  --md-ref-palette-neutral-variant10-rgb: 27 27 35;
  --md-ref-palette-neutral-variant20: #303038;
  --md-ref-palette-neutral-variant20-rgb: 48 48 56;
  --md-ref-palette-neutral-variant25: #3b3b43;
  --md-ref-palette-neutral-variant25-rgb: 59 59 67;
  --md-ref-palette-neutral-variant30: #46464f;
  --md-ref-palette-neutral-variant30-rgb: 70 70 79;
  --md-ref-palette-neutral-variant35: #52525b;
  --md-ref-palette-neutral-variant35-rgb: 82 82 91;
  --md-ref-palette-neutral-variant40: #5e5d67;
  --md-ref-palette-neutral-variant40-rgb: 94 93 103;
  --md-ref-palette-neutral-variant50: #777680;
  --md-ref-palette-neutral-variant50-rgb: 119 118 128;
  --md-ref-palette-neutral-variant60: #91909a;
  --md-ref-palette-neutral-variant60-rgb: 145 144 154;
  --md-ref-palette-neutral-variant70: #acaab4;
  --md-ref-palette-neutral-variant70-rgb: 172 170 180;
  --md-ref-palette-neutral-variant80: #c7c5d0;
  --md-ref-palette-neutral-variant80-rgb: 199 197 208;
  --md-ref-palette-neutral-variant90: #e3e1ec;
  --md-ref-palette-neutral-variant90-rgb: 227 225 236;
  --md-ref-palette-neutral-variant95: #f2effa;
  --md-ref-palette-neutral-variant95-rgb: 242 239 250;
  --md-ref-palette-neutral-variant98: #fbf8ff;
  --md-ref-palette-neutral-variant98-rgb: 251 248 255;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant99-rgb: 255 251 255;
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error100-rgb: 255 255 255;
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4000000059604645px;
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10000000149011612px;
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15000000596046448px;
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10000000149011612px;
}
