:where(html) {
    --md-sys-color-primary: #285ea7;
    --md-sys-color-primary-rgb: 40 94 167;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-primary-rgb: 255 255 255;
    --md-sys-color-primary-container: #d6e3ff;
    --md-sys-color-primary-container-rgb: 214 227 255;
    --md-sys-color-on-primary-container: #001b3d;
    --md-sys-color-on-primary-container-rgb: 0 27 61;
    --md-sys-color-secondary: #555f71;
    --md-sys-color-secondary-rgb: 85 95 113;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-on-secondary-rgb: 255 255 255;
    --md-sys-color-secondary-container: #d9e3f9;
    --md-sys-color-secondary-container-rgb: 217 227 249;
    --md-sys-color-on-secondary-container: #121c2b;
    --md-sys-color-on-secondary-container-rgb: 18 28 43;
    --md-sys-color-tertiary: #6f5575;
    --md-sys-color-tertiary-rgb: 111 85 117;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-on-tertiary-rgb: 255 255 255;
    --md-sys-color-tertiary-container: #f9d8fd;
    --md-sys-color-tertiary-container-rgb: 249 216 253;
    --md-sys-color-on-tertiary-container: #28132f;
    --md-sys-color-on-tertiary-container-rgb: 40 19 47;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-error-rgb: 186 26 26;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-error-container-rgb: 255 218 214;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-on-error-rgb: 255 255 255;
    --md-sys-color-on-error-container: #410002;
    --md-sys-color-on-error-container-rgb: 65 0 2;
    --md-sys-color-background: #fdfbff;
    --md-sys-color-background-rgb: 253 251 255;
    --md-sys-color-on-background: #1a1b1e;
    --md-sys-color-on-background-rgb: 26 27 30;
    --md-sys-color-surface: #fdfbff;
    --md-sys-color-surface-rgb: 253 251 255;
    --md-sys-color-on-surface: #1a1b1e;
    --md-sys-color-on-surface-rgb: 26 27 30;
    --md-sys-color-surface-variant: #e0e2ec;
    --md-sys-color-surface-variant-rgb: 224 226 236;
    --md-sys-color-on-surface-variant: #44474e;
    --md-sys-color-on-surface-variant-rgb: 68 71 78;
    --md-sys-color-outline: #74777f;
    --md-sys-color-outline-rgb: 116 119 127;
    --md-sys-color-inverse-on-surface: #f1f0f4;
    --md-sys-color-inverse-on-surface-rgb: 241 240 244;
    --md-sys-color-inverse-surface: #2f3033;
    --md-sys-color-inverse-surface-rgb: 47 48 51;
    --md-sys-color-inverse-primary: #a9c7ff;
    --md-sys-color-inverse-primary-rgb: 169 199 255;
    --md-sys-color-shadow: #000000;
    --md-sys-color-shadow-rgb: 0 0 0;
    --md-sys-color-surface-tint: #285ea7;
    --md-sys-color-surface-tint-rgb: 40 94 167;
    --md-sys-color-outline-variant: #c4c6cf;
    --md-sys-color-outline-variant-rgb: 196 198 207;
    --md-sys-color-scrim: #000000;
    --md-sys-color-scrim-rgb: 0 0 0;
    --md-sys-color-primary-light: #285ea7;
    --md-sys-color-primary-light-rgb: 40 94 167;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-on-primary-light-rgb: 255 255 255;
    --md-sys-color-primary-container-light: #d6e3ff;
    --md-sys-color-primary-container-light-rgb: 214 227 255;
    --md-sys-color-on-primary-container-light: #001b3d;
    --md-sys-color-on-primary-container-light-rgb: 0 27 61;
    --md-sys-color-secondary-light: #555f71;
    --md-sys-color-secondary-light-rgb: 85 95 113;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-on-secondary-light-rgb: 255 255 255;
    --md-sys-color-secondary-container-light: #d9e3f9;
    --md-sys-color-secondary-container-light-rgb: 217 227 249;
    --md-sys-color-on-secondary-container-light: #121c2b;
    --md-sys-color-on-secondary-container-light-rgb: 18 28 43;
    --md-sys-color-tertiary-light: #6f5575;
    --md-sys-color-tertiary-light-rgb: 111 85 117;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-on-tertiary-light-rgb: 255 255 255;
    --md-sys-color-tertiary-container-light: #f9d8fd;
    --md-sys-color-tertiary-container-light-rgb: 249 216 253;
    --md-sys-color-on-tertiary-container-light: #28132f;
    --md-sys-color-on-tertiary-container-light-rgb: 40 19 47;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-light-rgb: 186 26 26;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-error-container-light-rgb: 255 218 214;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-light-rgb: 255 255 255;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-on-error-container-light-rgb: 65 0 2;
    --md-sys-color-background-light: #fdfbff;
    --md-sys-color-background-light-rgb: 253 251 255;
    --md-sys-color-on-background-light: #1a1b1e;
    --md-sys-color-on-background-light-rgb: 26 27 30;
    --md-sys-color-surface-light: #fdfbff;
    --md-sys-color-surface-light-rgb: 253 251 255;
    --md-sys-color-on-surface-light: #1a1b1e;
    --md-sys-color-on-surface-light-rgb: 26 27 30;
    --md-sys-color-surface-variant-light: #e0e2ec;
    --md-sys-color-surface-variant-light-rgb: 224 226 236;
    --md-sys-color-on-surface-variant-light: #44474e;
    --md-sys-color-on-surface-variant-light-rgb: 68 71 78;
    --md-sys-color-outline-light: #74777f;
    --md-sys-color-outline-light-rgb: 116 119 127;
    --md-sys-color-inverse-on-surface-light: #f1f0f4;
    --md-sys-color-inverse-on-surface-light-rgb: 241 240 244;
    --md-sys-color-inverse-surface-light: #2f3033;
    --md-sys-color-inverse-surface-light-rgb: 47 48 51;
    --md-sys-color-inverse-primary-light: #a9c7ff;
    --md-sys-color-inverse-primary-light-rgb: 169 199 255;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-shadow-light-rgb: 0 0 0;
    --md-sys-color-surface-tint-light: #285ea7;
    --md-sys-color-surface-tint-light-rgb: 40 94 167;
    --md-sys-color-outline-variant-light: #c4c6cf;
    --md-sys-color-outline-variant-light-rgb: 196 198 207;
    --md-sys-color-scrim-light: #000000;
    --md-sys-color-scrim-light-rgb: 0 0 0;
    --md-sys-color-primary-dark: #a9c7ff;
    --md-sys-color-primary-dark-rgb: 169 199 255;
    --md-sys-color-on-primary-dark: #003063;
    --md-sys-color-on-primary-dark-rgb: 0 48 99;
    --md-sys-color-primary-container-dark: #00468c;
    --md-sys-color-primary-container-dark-rgb: 0 70 140;
    --md-sys-color-on-primary-container-dark: #d6e3ff;
    --md-sys-color-on-primary-container-dark-rgb: 214 227 255;
    --md-sys-color-secondary-dark: #bdc7dc;
    --md-sys-color-secondary-dark-rgb: 189 199 220;
    --md-sys-color-on-secondary-dark: #283141;
    --md-sys-color-on-secondary-dark-rgb: 40 49 65;
    --md-sys-color-secondary-container-dark: #3e4758;
    --md-sys-color-secondary-container-dark-rgb: 62 71 88;
    --md-sys-color-on-secondary-container-dark: #d9e3f9;
    --md-sys-color-on-secondary-container-dark-rgb: 217 227 249;
    --md-sys-color-tertiary-dark: #dcbce1;
    --md-sys-color-tertiary-dark-rgb: 220 188 225;
    --md-sys-color-on-tertiary-dark: #3f2845;
    --md-sys-color-on-tertiary-dark-rgb: 63 40 69;
    --md-sys-color-tertiary-container-dark: #563e5c;
    --md-sys-color-tertiary-container-dark-rgb: 86 62 92;
    --md-sys-color-on-tertiary-container-dark: #f9d8fd;
    --md-sys-color-on-tertiary-container-dark-rgb: 249 216 253;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-dark-rgb: 255 180 171;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-error-container-dark-rgb: 147 0 10;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-dark-rgb: 105 0 5;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-on-error-container-dark-rgb: 255 218 214;
    --md-sys-color-background-dark: #1a1b1e;
    --md-sys-color-background-dark-rgb: 26 27 30;
    --md-sys-color-on-background-dark: #e3e2e6;
    --md-sys-color-on-background-dark-rgb: 227 226 230;
    --md-sys-color-surface-dark: #1a1b1e;
    --md-sys-color-surface-dark-rgb: 26 27 30;
    --md-sys-color-on-surface-dark: #e3e2e6;
    --md-sys-color-on-surface-dark-rgb: 227 226 230;
    --md-sys-color-surface-variant-dark: #44474e;
    --md-sys-color-surface-variant-dark-rgb: 68 71 78;
    --md-sys-color-on-surface-variant-dark: #c4c6cf;
    --md-sys-color-on-surface-variant-dark-rgb: 196 198 207;
    --md-sys-color-outline-dark: #8e9099;
    --md-sys-color-outline-dark-rgb: 142 144 153;
    --md-sys-color-inverse-on-surface-dark: #1a1b1e;
    --md-sys-color-inverse-on-surface-dark-rgb: 26 27 30;
    --md-sys-color-inverse-surface-dark: #e3e2e6;
    --md-sys-color-inverse-surface-dark-rgb: 227 226 230;
    --md-sys-color-inverse-primary-dark: #285ea7;
    --md-sys-color-inverse-primary-dark-rgb: 40 94 167;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-shadow-dark-rgb: 0 0 0;
    --md-sys-color-surface-tint-dark: #a9c7ff;
    --md-sys-color-surface-tint-dark-rgb: 169 199 255;
    --md-sys-color-outline-variant-dark: #44474e;
    --md-sys-color-outline-variant-dark-rgb: 68 71 78;
    --md-sys-color-scrim-dark: #000000;
    --md-sys-color-scrim-dark-rgb: 0 0 0;
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary0-rgb: 0 0 0;
    --md-ref-palette-primary10: #001b3d;
    --md-ref-palette-primary10-rgb: 0 27 61;
    --md-ref-palette-primary20: #003063;
    --md-ref-palette-primary20-rgb: 0 48 99;
    --md-ref-palette-primary25: #003b77;
    --md-ref-palette-primary25-rgb: 0 59 119;
    --md-ref-palette-primary30: #00468c;
    --md-ref-palette-primary30-rgb: 0 70 140;
    --md-ref-palette-primary35: #16529a;
    --md-ref-palette-primary35-rgb: 22 82 154;
    --md-ref-palette-primary40: #285ea7;
    --md-ref-palette-primary40-rgb: 40 94 167;
    --md-ref-palette-primary50: #4677c2;
    --md-ref-palette-primary50-rgb: 70 119 194;
    --md-ref-palette-primary60: #6191de;
    --md-ref-palette-primary60-rgb: 97 145 222;
    --md-ref-palette-primary70: #7dacfa;
    --md-ref-palette-primary70-rgb: 125 172 250;
    --md-ref-palette-primary80: #a9c7ff;
    --md-ref-palette-primary80-rgb: 169 199 255;
    --md-ref-palette-primary90: #d6e3ff;
    --md-ref-palette-primary90-rgb: 214 227 255;
    --md-ref-palette-primary95: #ecf0ff;
    --md-ref-palette-primary95-rgb: 236 240 255;
    --md-ref-palette-primary98: #f9f9ff;
    --md-ref-palette-primary98-rgb: 249 249 255;
    --md-ref-palette-primary99: #fdfbff;
    --md-ref-palette-primary99-rgb: 253 251 255;
    --md-ref-palette-primary100: #ffffff;
    --md-ref-palette-primary100-rgb: 255 255 255;
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary0-rgb: 0 0 0;
    --md-ref-palette-secondary10: #121c2b;
    --md-ref-palette-secondary10-rgb: 18 28 43;
    --md-ref-palette-secondary20: #283141;
    --md-ref-palette-secondary20-rgb: 40 49 65;
    --md-ref-palette-secondary25: #333c4d;
    --md-ref-palette-secondary25-rgb: 51 60 77;
    --md-ref-palette-secondary30: #3e4758;
    --md-ref-palette-secondary30-rgb: 62 71 88;
    --md-ref-palette-secondary35: #4a5365;
    --md-ref-palette-secondary35-rgb: 74 83 101;
    --md-ref-palette-secondary40: #555f71;
    --md-ref-palette-secondary40-rgb: 85 95 113;
    --md-ref-palette-secondary50: #6e778a;
    --md-ref-palette-secondary50-rgb: 110 119 138;
    --md-ref-palette-secondary60: #8891a5;
    --md-ref-palette-secondary60-rgb: 136 145 165;
    --md-ref-palette-secondary70: #a2abc0;
    --md-ref-palette-secondary70-rgb: 162 171 192;
    --md-ref-palette-secondary80: #bdc7dc;
    --md-ref-palette-secondary80-rgb: 189 199 220;
    --md-ref-palette-secondary90: #d9e3f9;
    --md-ref-palette-secondary90-rgb: 217 227 249;
    --md-ref-palette-secondary95: #ecf0ff;
    --md-ref-palette-secondary95-rgb: 236 240 255;
    --md-ref-palette-secondary98: #f9f9ff;
    --md-ref-palette-secondary98-rgb: 249 249 255;
    --md-ref-palette-secondary99: #fdfbff;
    --md-ref-palette-secondary99-rgb: 253 251 255;
    --md-ref-palette-secondary100: #ffffff;
    --md-ref-palette-secondary100-rgb: 255 255 255;
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary0-rgb: 0 0 0;
    --md-ref-palette-tertiary10: #28132f;
    --md-ref-palette-tertiary10-rgb: 40 19 47;
    --md-ref-palette-tertiary20: #3f2845;
    --md-ref-palette-tertiary20-rgb: 63 40 69;
    --md-ref-palette-tertiary25: #4a3350;
    --md-ref-palette-tertiary25-rgb: 74 51 80;
    --md-ref-palette-tertiary30: #563e5c;
    --md-ref-palette-tertiary30-rgb: 86 62 92;
    --md-ref-palette-tertiary35: #634a68;
    --md-ref-palette-tertiary35-rgb: 99 74 104;
    --md-ref-palette-tertiary40: #6f5575;
    --md-ref-palette-tertiary40-rgb: 111 85 117;
    --md-ref-palette-tertiary50: #896e8f;
    --md-ref-palette-tertiary50-rgb: 137 110 143;
    --md-ref-palette-tertiary60: #a487a9;
    --md-ref-palette-tertiary60-rgb: 164 135 169;
    --md-ref-palette-tertiary70: #c0a1c5;
    --md-ref-palette-tertiary70-rgb: 192 161 197;
    --md-ref-palette-tertiary80: #dcbce1;
    --md-ref-palette-tertiary80-rgb: 220 188 225;
    --md-ref-palette-tertiary90: #f9d8fd;
    --md-ref-palette-tertiary90-rgb: 249 216 253;
    --md-ref-palette-tertiary95: #ffebff;
    --md-ref-palette-tertiary95-rgb: 255 235 255;
    --md-ref-palette-tertiary98: #fff7fb;
    --md-ref-palette-tertiary98-rgb: 255 247 251;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary99-rgb: 255 251 255;
    --md-ref-palette-tertiary100: #ffffff;
    --md-ref-palette-tertiary100-rgb: 255 255 255;
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral0-rgb: 0 0 0;
    --md-ref-palette-neutral10: #1a1b1e;
    --md-ref-palette-neutral10-rgb: 26 27 30;
    --md-ref-palette-neutral20: #2f3033;
    --md-ref-palette-neutral20-rgb: 47 48 51;
    --md-ref-palette-neutral25: #3a3b3f;
    --md-ref-palette-neutral25-rgb: 58 59 63;
    --md-ref-palette-neutral30: #46474a;
    --md-ref-palette-neutral30-rgb: 70 71 74;
    --md-ref-palette-neutral35: #525256;
    --md-ref-palette-neutral35-rgb: 82 82 86;
    --md-ref-palette-neutral40: #5e5e62;
    --md-ref-palette-neutral40-rgb: 94 94 98;
    --md-ref-palette-neutral50: #77777a;
    --md-ref-palette-neutral50-rgb: 119 119 122;
    --md-ref-palette-neutral60: #909094;
    --md-ref-palette-neutral60-rgb: 144 144 148;
    --md-ref-palette-neutral70: #ababaf;
    --md-ref-palette-neutral70-rgb: 171 171 175;
    --md-ref-palette-neutral80: #c7c6ca;
    --md-ref-palette-neutral80-rgb: 199 198 202;
    --md-ref-palette-neutral90: #e3e2e6;
    --md-ref-palette-neutral90-rgb: 227 226 230;
    --md-ref-palette-neutral95: #f1f0f4;
    --md-ref-palette-neutral95-rgb: 241 240 244;
    --md-ref-palette-neutral98: #faf9fd;
    --md-ref-palette-neutral98-rgb: 250 249 253;
    --md-ref-palette-neutral99: #fdfbff;
    --md-ref-palette-neutral99-rgb: 253 251 255;
    --md-ref-palette-neutral100: #ffffff;
    --md-ref-palette-neutral100-rgb: 255 255 255;
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant0-rgb: 0 0 0;
    --md-ref-palette-neutral-variant10: #181c22;
    --md-ref-palette-neutral-variant10-rgb: 24 28 34;
    --md-ref-palette-neutral-variant20: #2d3038;
    --md-ref-palette-neutral-variant20-rgb: 45 48 56;
    --md-ref-palette-neutral-variant25: #383b43;
    --md-ref-palette-neutral-variant25-rgb: 56 59 67;
    --md-ref-palette-neutral-variant30: #44474e;
    --md-ref-palette-neutral-variant30-rgb: 68 71 78;
    --md-ref-palette-neutral-variant35: #4f525a;
    --md-ref-palette-neutral-variant35-rgb: 79 82 90;
    --md-ref-palette-neutral-variant40: #5b5e66;
    --md-ref-palette-neutral-variant40-rgb: 91 94 102;
    --md-ref-palette-neutral-variant50: #74777f;
    --md-ref-palette-neutral-variant50-rgb: 116 119 127;
    --md-ref-palette-neutral-variant60: #8e9099;
    --md-ref-palette-neutral-variant60-rgb: 142 144 153;
    --md-ref-palette-neutral-variant70: #a8abb4;
    --md-ref-palette-neutral-variant70-rgb: 168 171 180;
    --md-ref-palette-neutral-variant80: #c4c6cf;
    --md-ref-palette-neutral-variant80-rgb: 196 198 207;
    --md-ref-palette-neutral-variant90: #e0e2ec;
    --md-ref-palette-neutral-variant90-rgb: 224 226 236;
    --md-ref-palette-neutral-variant95: #eef0fa;
    --md-ref-palette-neutral-variant95-rgb: 238 240 250;
    --md-ref-palette-neutral-variant98: #f9f9ff;
    --md-ref-palette-neutral-variant98-rgb: 249 249 255;
    --md-ref-palette-neutral-variant99: #fdfbff;
    --md-ref-palette-neutral-variant99-rgb: 253 251 255;
    --md-ref-palette-neutral-variant100: #ffffff;
    --md-ref-palette-neutral-variant100-rgb: 255 255 255;
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error0-rgb: 0 0 0;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error10-rgb: 65 0 2;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error20-rgb: 105 0 5;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error25-rgb: 126 0 7;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error30-rgb: 147 0 10;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error35-rgb: 168 7 16;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error40-rgb: 186 26 26;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error50-rgb: 222 55 48;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error60-rgb: 255 84 73;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error70-rgb: 255 137 125;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error80-rgb: 255 180 171;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error90-rgb: 255 218 214;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error95-rgb: 255 237 234;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error98-rgb: 255 248 247;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error99-rgb: 255 251 255;
    --md-ref-palette-error100: #ffffff;
    --md-ref-palette-error100-rgb: 255 255 255;
    --md-sys-typescale-display-large-font-family-name: Roboto;
    --md-sys-typescale-display-large-font-family-style: Regular;
    --md-sys-typescale-display-large-font-weight: 400px;
    --md-sys-typescale-display-large-font-size: 57px;
    --md-sys-typescale-display-large-line-height: 64px;
    --md-sys-typescale-display-large-letter-spacing: -0.25px;
    --md-sys-typescale-display-medium-font-family-name: Roboto;
    --md-sys-typescale-display-medium-font-family-style: Regular;
    --md-sys-typescale-display-medium-font-weight: 400px;
    --md-sys-typescale-display-medium-font-size: 45px;
    --md-sys-typescale-display-medium-line-height: 52px;
    --md-sys-typescale-display-medium-letter-spacing: 0px;
    --md-sys-typescale-display-small-font-family-name: Roboto;
    --md-sys-typescale-display-small-font-family-style: Regular;
    --md-sys-typescale-display-small-font-weight: 400px;
    --md-sys-typescale-display-small-font-size: 36px;
    --md-sys-typescale-display-small-line-height: 44px;
    --md-sys-typescale-display-small-letter-spacing: 0px;
    --md-sys-typescale-headline-large-font-family-name: Roboto;
    --md-sys-typescale-headline-large-font-family-style: Regular;
    --md-sys-typescale-headline-large-font-weight: 400px;
    --md-sys-typescale-headline-large-font-size: 32px;
    --md-sys-typescale-headline-large-line-height: 40px;
    --md-sys-typescale-headline-large-letter-spacing: 0px;
    --md-sys-typescale-headline-medium-font-family-name: Roboto;
    --md-sys-typescale-headline-medium-font-family-style: Regular;
    --md-sys-typescale-headline-medium-font-weight: 400px;
    --md-sys-typescale-headline-medium-font-size: 28px;
    --md-sys-typescale-headline-medium-line-height: 36px;
    --md-sys-typescale-headline-medium-letter-spacing: 0px;
    --md-sys-typescale-headline-small-font-family-name: Roboto;
    --md-sys-typescale-headline-small-font-family-style: Regular;
    --md-sys-typescale-headline-small-font-weight: 400px;
    --md-sys-typescale-headline-small-font-size: 24px;
    --md-sys-typescale-headline-small-line-height: 32px;
    --md-sys-typescale-headline-small-letter-spacing: 0px;
    --md-sys-typescale-body-large-font-family-name: Roboto;
    --md-sys-typescale-body-large-font-family-style: Regular;
    --md-sys-typescale-body-large-font-weight: 400px;
    --md-sys-typescale-body-large-font-size: 16px;
    --md-sys-typescale-body-large-line-height: 24px;
    --md-sys-typescale-body-large-letter-spacing: 0.5px;
    --md-sys-typescale-body-medium-font-family-name: Roboto;
    --md-sys-typescale-body-medium-font-family-style: Regular;
    --md-sys-typescale-body-medium-font-weight: 400px;
    --md-sys-typescale-body-medium-font-size: 14px;
    --md-sys-typescale-body-medium-line-height: 20px;
    --md-sys-typescale-body-medium-letter-spacing: 0.25px;
    --md-sys-typescale-body-small-font-family-name: Roboto;
    --md-sys-typescale-body-small-font-family-style: Regular;
    --md-sys-typescale-body-small-font-weight: 400px;
    --md-sys-typescale-body-small-font-size: 12px;
    --md-sys-typescale-body-small-line-height: 16px;
    --md-sys-typescale-body-small-letter-spacing: 0.4000000059604645px;
    --md-sys-typescale-label-large-font-family-name: Roboto;
    --md-sys-typescale-label-large-font-family-style: Medium;
    --md-sys-typescale-label-large-font-weight: 500px;
    --md-sys-typescale-label-large-font-size: 14px;
    --md-sys-typescale-label-large-line-height: 20px;
    --md-sys-typescale-label-large-letter-spacing: 0.10000000149011612px;
    --md-sys-typescale-label-medium-font-family-name: Roboto;
    --md-sys-typescale-label-medium-font-family-style: Medium;
    --md-sys-typescale-label-medium-font-weight: 500px;
    --md-sys-typescale-label-medium-font-size: 12px;
    --md-sys-typescale-label-medium-line-height: 16px;
    --md-sys-typescale-label-medium-letter-spacing: 0.5px;
    --md-sys-typescale-label-small-font-family-name: Roboto;
    --md-sys-typescale-label-small-font-family-style: Medium;
    --md-sys-typescale-label-small-font-weight: 500px;
    --md-sys-typescale-label-small-font-size: 11px;
    --md-sys-typescale-label-small-line-height: 16px;
    --md-sys-typescale-label-small-letter-spacing: 0.5px;
    --md-sys-typescale-title-large-font-family-name: Roboto;
    --md-sys-typescale-title-large-font-family-style: Regular;
    --md-sys-typescale-title-large-font-weight: 400px;
    --md-sys-typescale-title-large-font-size: 22px;
    --md-sys-typescale-title-large-line-height: 28px;
    --md-sys-typescale-title-large-letter-spacing: 0px;
    --md-sys-typescale-title-medium-font-family-name: Roboto;
    --md-sys-typescale-title-medium-font-family-style: Medium;
    --md-sys-typescale-title-medium-font-weight: 500px;
    --md-sys-typescale-title-medium-font-size: 16px;
    --md-sys-typescale-title-medium-line-height: 24px;
    --md-sys-typescale-title-medium-letter-spacing: 0.15000000596046448px;
    --md-sys-typescale-title-small-font-family-name: Roboto;
    --md-sys-typescale-title-small-font-family-style: Medium;
    --md-sys-typescale-title-small-font-weight: 500px;
    --md-sys-typescale-title-small-font-size: 14px;
    --md-sys-typescale-title-small-line-height: 20px;
    --md-sys-typescale-title-small-letter-spacing: 0.10000000149011612px;
}
