@import '../../styles/_prefix.scss';

@include component-prefix('tooltip') {
  z-index: 999;
  padding-inline: var(--control-large-paddingInline-normal);
  padding-block: var(--control-large-paddingBlock);
  background-color: var(--bgColor-emphasis);
  font-size: var(--text-body-size-medium);
  border-radius: var(--borderRadius-medium);
  color: var(--fgColor-onEmphasis);
  line-height: var(--text-body-lineHeight-medium);
}
