@import '../../styles/theme.scss';
.oc-position {
  z-index: 99;
}
.oc-tooltip {
  padding: 12px;
  background-color: var(--md-sys-color-inverse-surface);
  font-size: 14px;
  border-radius: 8px;
  color: var(--primary-text-reverse);
  line-height: 1.5715;
  box-shadow: var(--md-sys-elevation-3);
  transition-property: opacity;
  transition-duration: var(--fds-duration-extra-extra-short-in);
  transition-timing-function: var(--fds-animation-fade-in);
}
.oc-tooltip-transition-enter {
  opacity: 0;
  transform: scale(0.9);
}
.oc-tooltip-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms;
}
.oc-tooltip-transition-exit {
  opacity: 1;
}
.oc-tooltip-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms;
}

.oc-tooltip-appear-enter {
  transform: scale(0.9);
  opacity: 0;
}
.oc-tooltip-appear-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.oc-tooltip-appear-exit {
  opacity: 1;
}
.oc-tooltip-appear-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms;
}
