.oc-tooltip{
  padding: 8px 12px;
  background-color: var(--color-tooltip-bg);
  font-size: 14px;
  border-radius: var(--border-radius-small);
  color: #fff;
  line-height: 1.5715;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}



.my-node-appear-enter {
  opacity: 0;
}
.my-node-appear-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-appear-exit {
  opacity: 1;
}
.my-node-appear-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
