.zzf-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-mask-bg);
  height: 100%;
  z-index: 1000;
}
.zzf-modal-container {
  background-color: var(--card-background);
  position: relative;
  display: flex;
  width: 448px;
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--card-corner-radius);
  box-shadow: 0 12px 28px 0 var(--shadow-2),0 2px 4px 0 var(--shadow-1),inset 0 0 0 1px var(--shadow-inset);
  padding: 0 24px;
  background-clip: padding-box;
  overflow: hidden;
  margin-top: 80px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.zzf-modal-header {
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 24px 0;
}
.zzf-modal-footer {
  margin: 24px 0;
  padding: 0;
  text-align: right;
  border-radius: 0 0 5px 5px;
  border-top: 0 solid transparent;
  background-color: transparent;
  button {
    margin-left: 12px;
  }
}
.zzf-model-close {
  cursor: pointer;
  font-size: 18px;
  color: var(--color-text-1);

  &:hover {
    color: var(--color-text-3);
  }
}

.zzf-modal-content {
  padding: 20px;
}

.btn {
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
  text-align: center;
  width: 100%;
  cursor: default;
}
