.zzf-ipt {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-text);
  vertical-align: middle;
  background-color: var(--comment-background);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
  &-round{
    border-radius: 50px;
  }
  &:hover {
    background-color: var(--hover-overlay);
  }
  &:focus,
  &:active {
    //border-color: rgb(var(--primary-6));
    background-color: var(--hover-overlay);
    //box-shadow: 0 0 0 0 var(--color-primary-light-2);
  }
}
