.dekopon-notification {
  position: fixed;
  z-index: 1000;
}
.dekopon-notification-notice {
  padding: 7px 20px 7px 10px;
  border-radius: 3px 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 0 solid var(--color-neutral-3);
  background: var(--color-bg-popup);
  display: block;
  width: auto;
  line-height: 1.5;
  position: relative;
  margin: 10px 0;
}
.dekopon-notification-notice-closable {
  padding-right: 20px;
}
.dekopon-notification-notice-close {
  position: absolute;
  right: 5px;
  top: 3px;
  color: var(--color-text-1);
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
  text-decoration: none;
}
.dekopon-notification-notice-close-x:after {
  content: "×";
}
.dekopon-notification-notice-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}
.dekopon-notification-fade-appear,
.dekopon-notification-fade-enter {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.dekopon-notification-fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.dekopon-notification-fade-appear.dekopon-notification-fade-appear-active,
.dekopon-notification-fade-enter.dekopon-notification-fade-enter-active {
  animation-name: dekoponNotificationFadeIn;
  animation-play-state: running;
}
.dekopon-notification-fade-leave.dekopon-notification-fade-leave-active {
  animation-name: dekoponDialogFadeOut;
  animation-play-state: running;
}
@keyframes dekoponNotificationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dekoponDialogFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
