@import '../../styles/_prefix.scss';

@include component-prefix('draw') {
  &-mask {
    position: fixed;
    inset: 0;
    z-index: 5;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.32);
  }
  &-container {
    border-top-right-radius: var(--borderRadius-large);
    border-bottom-right-radius: var(--borderRadius-large);
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bgColor-default);
    padding: var(--space-medium);
    width: 320px;
    height: 100vh;
    z-index: 6;
  }
  &-transition {
    &-enter,
    &-appear {
      transform: translateX(-100%);
    }

    &-enter-active,
    &-appear-active {
      transform: translateX(0);
      transition: transform 300ms ease-in-out;
    }

    &-enter-done {
      transform: translateX(0);
      transition: transform 300ms ease-in-out;
    }

    &-exit {
      transform: translateX(0);
    }

    &-exit-active {
      transform: translateX(-100%);
      transition: transform 300ms ease-in-out;
    }
  }
}
