@import "reset.css";
@import "../../components/styles/theme";
@import "../../components/styles/theme.css";
@import "./highlight";
:root,
[data-color-mode="light"] {
  @include colors-light;
}

[data-color-mode="dark"] {
  @include colors-dark;
}
.oc-icon{
  width: 1em;
  height: 1em;
  vertical-align: -2px;
}
body {
  color: var(--primary-text);
  background-color: var(--wash);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
  Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.markdown-body table {
  background-color: var(--color-bg-1);
  width: 100%;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
}

.markdown-body table thead th {
  border-color: var(--color-border);
  color: var(--color-text-1);
  white-space: nowrap;
}

.markdown-body table tbody td {
  padding: 8px 12px;
  text-align: left;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e5e6e8;
}

.markdown-body table thead th {
  line-height: 22px;
  color: #606a78;
  font-weight: 500;
  border-right: 1px solid #e5e6e8;
  background-color: var(--color-fill-2);
  padding: 8px 12px;
  text-align: left;
  height: 40px;
  border-bottom: 1px solid #e5e6e8;
}

h2 {
  font-size: 20px;
  margin-top: 48px;
  margin-bottom: 12px;
}

.code-preview h2 {
  font-size: 20px;
  margin-top: 48px;
  margin-bottom: 12px;
  font-weight: 500;
  color: var(--color-text-1);
}

.oc-demo-title a {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.oc-demo-title:hover a {
  opacity: 1;
}

.oc-demo-title a svg {
  width: 1em;
  height: 1em;
  font-size: 18px;
  color: var(--color-text-3);
  vertical-align: -2px;
}

.code-preview p {
  line-height: 1.5;
  margin: 0;
  color: var(--color-text-2);
}

.code-wrapper .content-code-design {
  position: relative;
  overflow: hidden;
}

.arco-code-wrapper .content-code-design.show-all {
  margin-top: 16px;
}

.codebox-wrapper .code > .code-preview {
  height: 0;
  overflow: hidden;
}
.codebox-wrapper .arco-code-wrapper pre.code_block .language-js {
  padding: 28px 48px;
  box-sizing: border-box;
  font-size: 13px;
  width: 100%;
  overflow-x: auto;
  display: block;
}
.codebox-wrapper .arco-code-wrapper pre.code_block {
  position: relative;
  width: 100%;
  background-color: var(--comment-background);
  font-size: 14px;
  margin: 0;
  border: 0;
  font-family:monospace,monospace;
}
.codebox-wrapper .show-all .code > .code-preview {
  height: unset;
}
.codebox-wrapper .arco-code-wrapper .arco-code-operations {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
.codebox-wrapper .show-all .code .oc-code-wrapper-css {
  display: block;
}
.codebox-wrapper .oc-code-wrapper-css {
  border-top: 1px solid var(--color-border);
  display: none;
  overflow: hidden;
}
.codebox-wrapper .oc-code-wrapper-css pre.code_block, .codebox-wrapper .arco-code-wrapper pre.code_block {
  position: relative;
  width: 100%;
  background-color: var(--comment-background);
  font-size: 14px;
  margin: 0;
  border: 0;
}
.codebox-wrapper .oc-code-wrapper-css pre.code_block .language-css, .codebox-wrapper .arco-code-wrapper pre.code_block .language-css {
  padding: 16px 48px;
  box-sizing: border-box;
}
.oc-nav-intro {
  height: 194px;
  border-bottom: 1px solid var(--color-border);
  overflow: hidden;

  p {
    margin-bottom: 0;

    &:first-child {
      margin-top: 36px;
      line-height: 20px;
    }

    &:last-child {
      margin-top: 12px;
      line-height: 20px;
    }
  }

  .separator {
    color: var(--color-text-4);
    padding: 0 5px;
    font-weight: 900;
  }

  strong {
    color: var(--color-text-1);
  }

  h1 {
    margin: 20px 0 0;
    padding: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
  }
}

.ac-toolbar {
  position: absolute;
  top: 120px;
  right: 56px;

  .changelog-btn {
    margin-left: 10px;
  }
}

.ac-usage {
  width: 880px;
  padding-top: 48px;
}

.oc-demo-title{
  font-size: 20px;
  margin-top: 48px;
  margin-bottom: 12px;
  text-decoration: none;
  display: block;
  color: var(--primary-text);
}
