@import '../../styles/_prefix.scss';
@include component-prefix('tag'){
  height: var(--base-size-28);
  padding-inline: var(--control-xsmall-paddingInline-spacious);
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--bgColor-default);
  color: var(--fgColor-default);
  line-height: var(--control-xsmall-lineBoxHeight);
  font-weight: var(--base-text-weight-normal);
  font-size: var(--text-body-size-small);
  transition: box-shadow 0.2s ease-in-out 0s;
  border-radius: var(--borderRadius-medium);
  border: var(--borderWidth-thin) solid var(--borderColor-default);

  &:hover {
    border-color: var(--borderColor-muted);
    background: var(--bgColor-muted);
  }
}
