@import '../../styles/_prefix.scss';

@include component-prefix('popover') {
  background-color: var(--bgColor-default);
  padding: 12px;
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-small);
}
