.zzf-comment{
  display: flex;
  line-height: 1.5715;
  margin-top: 20px;
  &-avatar{
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    position: relative;
    background-color: var(--color-fill-4);
    white-space: nowrap;
    color: var(--color-white);
    box-sizing: border-box;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    font-size: 20px;
    flex-shrink: 0;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 50%;
  }
  &-container{
    background-color: var(--comment-background);
    border-radius: 18px;
    padding: 8px 12px;
  }
  &-author{
    display: flex;
    align-items: center;
    color: var(--primary-text);
    font-size: 14px;
    font-weight: 600;
  }
  &-content{
    font-size: 15px;
    color: var(--secondary-text);
  }
  &-actions{
    margin-top: 3px;
    font-size: 13px;
    display: flex;
    list-style: none;
  }
}
